.custom-calendar {
	.rbc-btn-group {
		font-size: 14px;
	}
	.rbc-toolbar button {
		padding: 0.375rem 0.75rem;
	}
}
// COURSE
.create-course {
	.rbc-event:focus,
	.rbc-day-slot .rbc-background-event:focus {
		outline: none;
	}
	.create-course-event {
		transition: 0.3s ease-in-out;
		outline: none;
		padding: 0;
		.rbc-event-content {
			font-size: 12px;
			> div {
				padding: 2px 5px;
			}
		}
		&-gray {
			background-color: #ccc;
		}
		&-green {
			background: linear-gradient(0deg, #1fd97c 24%, #1bc470 100%);
		}
	}
	.create-course-event:hover {
		background-color: $primary-color;
	}
	.create-course-event-active {
		background-color: $primary-color;
		color: #fff;
	}
	&-general {
		display: flex;
		flex-wrap: wrap;
		&-item {
			width: 50%;
			> span {
				font-weight: 500;
			}
			@include max-media(600px) {
				width: 100%;
			}
		}
		&-item-error {
			> span {
				color: $red;
			}
		}
	}

	@include max-media(767px) {
		.rbc-toolbar {
			justify-content: flex-start;
		}
		.rbc-btn-group:last-child {
			margin-top: 10px;
		}
	}
}

.wrap-calendar {
	.loading-base {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 4;
		display: none;
		.ant-spin-dot-item.ant-spin-dot-item {
			background: $primary-color;
		}
	}
	&.wrap-calendar-loading {
		position: relative;
		.loading-base {
			display: inline-block;
		}
	}
}
.create-course-modal {
	@include max-media(1439px) {
		margin: 0 calc(100% / 12 * 4 - 0.75rem) 0 auto;
	}
}
.wrap-card-info-course {
	display: flex;
	height: 100%;
	flex-direction: column;
	.space-top-card {
		flex-grow: 1;
		z-index: 901;
	}
	.ant-card-body {
		padding-left: 0;
		padding-right: 0;
		height: calc(100% - 58px);
		.info-course {
			padding: 0 24px;
			max-height: calc(662px - 48px);
			overflow: auto;
			&::-webkit-scrollbar-track {
				border-radius: 10px;
				background-color: white;
			}

			&::-webkit-scrollbar {
				border: none;
				width: 4px;
				background-color: #f5f5f5;
			}

			&::-webkit-scrollbar-thumb {
				border-radius: 10px;
				background-color: #e7e7e7;
			}
		}
	}
}
.info-course {
	.card {
	}
	.info-course-list {
		margin-bottom: 0;
	}
	.info-course-item {
		background: white;
		padding-right: 25px;
	}

	.ant-collapse {
		border: none;
		background: white;
		border-radius: 0.575rem;
	}

	.ant-collapse-item {
		margin-bottom: 15px;
		border-bottom: 0;
		border-radius: 0.575rem;

		&:last-child {
			border-radius: 0.575rem;

			.ant-collapse-header {
				border-radius: 0.575rem;
			}
		}
	}
	.ant-collapse-content {
		margin-top: 7px;
		border-top: none;
		border-radius: 0.575rem;
		background: #f7f7f7;
	}
	.ant-collapse-header {
		box-shadow: 1px 2px 10px #00000024;
		background: $primary-color;
		color: white !important;
		border-radius: 0.575rem;

		.info-course-item {
			position: relative;
			background: $primary-color;
		}
	}

	.ant-checkbox-wrapper {
		position: absolute;
		top: 0;
		right: 0;
		.ant-checkbox {
			&:hover {
				.ant-checkbox-inner {
					background-color: #fffca3;
					border-color: #fffca3;
				}
			}
		}
		.ant-checkbox-checked .ant-checkbox-inner::after {
			border: 2px solid #868686;
			border-top: 0;
			border-left: 0;
		}
		.ant-checkbox-checked .ant-checkbox-inner {
			background-color: #fffca3;
			border-color: #fffca3;
		}
		.ant-checkbox-inner {
			width: 20px;
			height: 20px;
			border-color: #fffca3;
			&:hover {
				background-color: #fffca3;
				border-color: #fffca3;
			}
		}
		.ant-checkbox-checked::after {
			border: 1px solid #fffca3;
		}
		.ant-checkbox-inner::after {
			left: 30%;
		}
	}
}
.btn-page-course {
	.btn {
		margin-right: 4px;
	}
}
.info-course-save {
	p {
		span:first-child {
			font-size: 15px;
			display: block;
			font-weight: 500;
		}
	}
}

// COURSE DETAIL
.course-dt {
	.rbc-timeslot-group {
	}
	.rbc-event {
		padding: 0;
	}
	.rbc-events-container {
		.rbc-event-label {
			display: none;
		}
	}
	.rbc-agenda-table {
		background-color: $white;
	}
	.rbc-agenda-event-cell {
		.course-dt-event {
			font-size: 14px;
		}
	}
	@include max-media(991px) {
		.rbc-toolbar {
		}
	}
}
.course-dt-event {
	font-size: 12px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2px 5px;
	.time {
		font-size: 14px;
		font-weight: 500;
	}
	&-info {
		ul {
			padding: 0;
			margin-bottom: 0;
			list-style: none;
			span {
				font-weight: 500;
			}
		}
	}
}
