// COURSE
.create-course {
	.create-course-event {
		&-gray {
			background-color: #ccc;
		}
		&-green {
			background: linear-gradient(0deg, #1fd97c 24%, #1bc470 100%);
		}
		&-active {
			background-color: $primary-color;
			color: #fff;
		}
		&:hover {
			background-color: $primary-color;
		}
	}
}
.create-course-modal {
	.ant-modal-body {
		padding-left: 0;
		padding-right: 0;
		@include max-media(768px) {
			padding: 10px 0;
		}
	}
	.tt {
		padding: 0 24px;
		@include max-media(768px) {
			padding: 0 10px;
		}
	}
	.cnt {
		padding: 0 24px;
		max-height: 575px;
		overflow: hidden auto;
		&::-webkit-scrollbar-track {
			border-radius: 10px;
			background-color: white;
		}

		&::-webkit-scrollbar {
			border: none;
			width: 6px;
			background-color: #f5f5f5;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 10px;
			background-color: #b1b1b1;
		}
		@include max-media(768px) {
			max-height: 300px;
			padding: 0 10px;
		}
	}
	.unavailable-mobile {
		display: none;
		@include max-media(767px) {
			padding: 0 10px;
			margin-top: 12px;
			display: block;
			.space-top-card {
				margin-top: 0;
			}
		}
	}
}
.create-course-save {
	&.modal-scroll .ant-modal-body {
		height: 81.5vh;
	}
}
.create-course-save-info {
	p {
		span:first-child {
			font-size: 15px;
			display: block;
			font-weight: 500;
		}
	}
}
.create-course-save-list {
	display: flex;
	flex-wrap: wrap;
	&-item {
		width: 50%;
		> span {
			font-weight: 500;
		}
		&:nth-last-child(1),
		&:nth-last-child(2) {
			ul,
			li:last-child p {
				margin-bottom: 0;
			}
		}
		@include max-media(600px) {
			width: 100%;
		}
	}
	&-item-error {
		> span {
			color: $red;
		}
	}
}
.wrap-card-info-course {
	display: flex;
	height: 100%;
	flex-direction: column;
	.space-top-card {
		flex-grow: 1;
		z-index: 901;
	}
	.ant-card-body {
		padding-left: 0;
		padding-right: 0;
		height: calc(100% - 58px);
		.info-course {
			padding: 0 24px;
			max-height: calc(662px - 48px);
			overflow: auto;
			&::-webkit-scrollbar-track {
				border-radius: 10px;
				background-color: white;
			}

			&::-webkit-scrollbar {
				border: none;
				width: 4px;
				background-color: #f5f5f5;
			}

			&::-webkit-scrollbar-thumb {
				border-radius: 10px;
				background-color: #e7e7e7;
			}
			@include max-media(767px) {
				padding: 0 10px;
				max-height: 102px;
			}
		}
	}
}
.info-course {
	.info-course-list {
		margin-bottom: 0;
	}
	.info-course-item {
		background: white;
		padding-right: 25px;
	}

	.ant-collapse {
		border: none;
		background: white;
		border-radius: 0.575rem;
	}

	.ant-collapse-item {
		margin-bottom: 15px;
		border-bottom: 0;
		border-radius: 0.575rem;

		&:last-child {
			margin-bottom: 0;
			border-radius: 0.575rem;
			.ant-collapse-header {
				border-radius: 0.575rem;
			}
		}
	}
	.ant-collapse-content {
		margin-top: 7px;
		border-top: none;
		border-radius: 0.575rem;
		background: #f7f7f7;
	}
	.ant-collapse-header {
		box-shadow: 1px 2px 10px #00000024;
		background: $primary-color;
		color: white !important;
		border-radius: 0.575rem;

		.info-course-item {
			position: relative;
			background: $primary-color;
		}
	}

	.ant-checkbox-wrapper {
		position: absolute;
		top: 0;
		right: 0;
		.ant-checkbox {
			&:hover {
				.ant-checkbox-inner {
					background-color: #fffca3;
					border-color: #fffca3;
				}
			}
		}
		.ant-checkbox-checked .ant-checkbox-inner::after {
			border: 2px solid #868686;
			border-top: 0;
			border-left: 0;
		}
		.ant-checkbox-checked .ant-checkbox-inner {
			background-color: #fffca3;
			border-color: #fffca3;
		}
		.ant-checkbox-inner {
			width: 20px;
			height: 20px;
			border-color: #fffca3;
			&:hover {
				background-color: #fffca3;
				border-color: #fffca3;
			}
		}
		.ant-checkbox-checked::after {
			border: 1px solid #fffca3;
		}
		.ant-checkbox-inner::after {
			left: 30%;
		}
	}
}
.btn-page-course {
	.btn:not(:last-child) {
		margin-right: 4px;
	}
}
// COURSE DETAIL
.course-dt-event {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	.time {
		font-size: 14px;
		font-weight: 500;
	}
	&-info {
		ul {
			padding: 0;
			margin-bottom: 0;
			list-style: none;
			span {
				font-weight: 500;
			}
		}
	}
}

// EDIT COURSE
.edit-course {
	.btn-page-course {
		.btn:last-child {
			margin-right: 0;
		}
	}
}
.available-schedule-course-form {
	width: 250px;
}
//
.in-coming-class-btn {
	position: fixed;
	z-index: 902;
	bottom: 75px;
	right: 20px;
	width: 45px;
	height: 45px;
	box-shadow: 1px 2px 12px #00000038;
	border-radius: 100%;
	cursor: pointer;
	background-color: #fff;
	@include mid-flex;

	img {
		max-width: 80%;
	}
}
