.doc__list-menu {
	&:hover {
		color: $blue;
	}
}

.doc__list-container {
	margin: 4px 0 8px;
	padding: 0 16px;
	height: 40px;
}
.doc__list-active {
	.doc__list-menu {
		color: $blue;
	}
	background-color: #e6f7ff;
}

.doc__list-action {
	z-index: 22;
	position: absolute;
	bottom: 20px;
	right: 10px;
}
