.list-subtask {
	.item {
		margin-bottom: 10px;

		.action {
			width: 15%;
			> span {
				display: inline-block;
			}
		}
		.info {
			width: 85%;
		}
		.info-item {
			margin-left: 16px;
			padding: 0 8px;
		}
		.info-ipt {
			height: 21px !important;
		}
		&:last-child {
			margin-bottom: 0;
		}
		&-empty {
			font-weight: 500;
			.ant-checkbox + span {
				color: #000;
			}
		}
		&-working {
			.ant-checkbox + span {
				color: #878787;
			}
			color: #878787;
		}
		&-done {
			.ant-checkbox + span {
				color: #00aa00;
			}
			color: #00aa00;
		}
	}
	&-loading {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 4;
		display: none;
		.ant-spin-dot-item.ant-spin-dot-item {
			background: $primary-color;
		}
	}
	&-wrap {
		position: relative;
		.list-subtask-loading {
			display: inline-block;
		}
	}
	.ant-checkbox-group {
		width: 100%;
		max-height: 270px;
		overflow: auto;

		&::-webkit-scrollbar-track {
			border-radius: 10px;
			background-color: white;
		}

		&::-webkit-scrollbar {
			border: none;
			width: 4px;
			background-color: #f5f5f5;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 10px;
			background-color: $primary-color;
		}
	}
}

.staff-task-group-modal {
	.wrap-table .ant-table-thead tr:first-child th:nth-child(2) {
		border-top-left-radius: 0 !important ;
	}
}
