.info-profile-left {
	svg {
		font-size: 18px;
		opacity: 0.7;
	}
	.anticon-user {
		svg {
			color: #0088cc;
		}
	}

	.anticon-deployment-unit {
		svg {
			color: #b18114;
		}
	}

	.anticon-whats-app {
		svg {
			color: #4f33a7;
		}
	}

	.anticon-mail {
		svg {
			color: #0a4296;
		}
	}

	.anticon-aim {
		svg {
			color: #961818;
		}
	}
}

.info-dif-user {
	padding-left: 0;
	li {
		list-style-type: none;
		margin-bottom: 15px;

		p {
			margin-bottom: 0;
		}
		p.title {
			font-weight: 500;
		}
	}
}
