.test-wrapper {
	&.doing-test {
		position: fixed;
		width: 100%;
		height: 100%;
		background-color: #eaeaea;
		top: 0;
		left: 0;
		z-index: 999;
		padding: 15px;

		.box-paragraph {
			// height: 100%;
			border-right: 1px solid #f0f0f0;
			padding-right: 15px;
		}
	}

	&.done-test {
		// .box-content {
		// 	margin-top: 20px;
		// }
		// .box-paragraph {
		// 	padding-bottom: 20px;
		// 	border-bottom: 1px dotted #e2e2e2;
		// }
		.wrap-group-list {
			.box-detail {
				padding: 0 10px;
			}
		}
		.space-question {
			margin-top: 20px;
		}
		.box-map-question {
			padding-bottom: 20px;
			border-bottom: 1px dotted #e2e2e2;
		}
		.ant-card-body {
			padding: 24px;
			height: auto;

			.test-body {
				height: calc(100vh - 240px);
				padding: 0;
				padding-right: 10px;
			}
		}
	}

	.wrap-list-answer-typing {
		border-top: 1px solid #f0f0f0;
		padding-top: 30px;

		.list-answer-typing {
			list-style-type: none;
			padding-left: 0;

			.answer-item {
				display: flex;
				align-items: center;
				font-weight: 500;

				.number {
					margin-right: 10px;
					font-size: 14px;
				}
				.text {
				}
			}
		}
	}

	.box-map-question {
		.check-box-table {
			position: relative;
			padding: 0;

			.ant-checkbox-wrapper {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;

				&.isWrong {
					.ant-checkbox-checked {
						.ant-checkbox-inner {
							&:after {
								border: 2px solid #dd4667;
								border-top: 0;
								border-left: 0;
							}
						}
					}
				}

				&:hover {
					.ant-checkbox-inner {
						border: 1px solid #1890ff !important;
					}
				}

				.ant-checkbox-checked {
					.ant-checkbox-inner {
						&:after {
							width: 9px;
							height: 18px;
							top: 50%;
							left: 42%;

							border: 2px solid #009751;
							border-top: 0;
							border-left: 0;
						}
					}
				}
				.ant-checkbox {
					width: 100%;
					height: 100%;
					top: 0;

					.ant-checkbox-input {
						width: 100%;
						height: 100%;
					}

					.ant-checkbox-inner {
						width: 100%;
						height: 100%;
						border: none;
						background: #fffbf5;
					}
				}
			}
		}
	}

	.drag-list {
		.drag-item {
			color: transparent;

			&.is-hover {
				background: #e9e9e9;
			}

			&.space-left {
				padding-left: 100px !important;
				padding-top: 2px !important;
				padding-bottom: 2px !important;
			}

			&.auto {
				width: auto;
				color: inherit;
			}

			.drag-list-answer {
				margin-bottom: 0 !important;

				// span {
				//   width: 100%;
				// }
			}
		}
		.area-drop {
			border-top: 1px solid #f0f0f0;
			padding-top: 21px;
		}
		.box-include {
			background-color: white;
			border: 1px solid #a9a9a9;
			width: 200px;
			height: 25px;
			margin-left: 10px;

			div {
				padding: 0 3px;
				height: 100%;
			}
		}
		.quiz-drop {
			.listAnswer {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				p {
					margin-bottom: 10px;
					padding: 3px 10px;
					background: rgb(253, 253, 253);
					box-shadow: #bbbbbb 0px 1px 3px;
					line-height: initial;
					background: #efefef;
				}
			}
		}

		.wrap-text {
			display: flex;
			justify-content: flex-start;
			margin-bottom: 10px;
			p {
				margin-bottom: 0;
			}
		}

		.active-question {
			background: #f500571c !important;
		}
		.active-text {
			height: auto !important;
		}
		.active-box {
			background: #efefef;
		}
	}

	.question-create .question-list .question-item {
		.box-answer {
			.icon-check {
				.anticon {
					vertical-align: 2px;
				}
				svg {
					margin-left: 10px;
					font-size: 16px;
				}

				&.right {
					svg {
						color: green;
					}
				}
				&.wrong {
					svg {
						color: red;
					}
				}
			}
		}

		&:hover {
			background: #f9f9f9;
		}
		&.active-doing {
			background: #fffaf3;
		}
	}

	.doingtest-single {
		.question-create .question-list .question-item .box-detail {
			width: 60%;
		}
	}
	.doingtest-group {
		.box-list-question {
			padding: 0 10px;
		}
		.question-create {
			padding-right: 15px;
		}
	}

	@include max-media(600px) {
		padding: 10px;
	}

	.test-card {
		.ant-card-head-wrapper {
			flex-wrap: nowrap;
		}
		.ant-card-extra {
			width: auto;
		}
		.ant-card-head-title {
			width: auto;
		}
	}

	.ant-card-body {
		padding: 0;
		height: calc(100vh - 165px);

		.test-body {
			height: 100%;
			overflow: auto;
			overflow-x: hidden;
			position: relative;
			padding: 24px;

			.loading-submit {
				background: #ffffffb0;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				z-index: 99;

				@include max-media(800px) {
					top: inherit;
					bottom: 132%;
				}
			}

			&::-webkit-scrollbar-track {
				border-radius: 10px;
				background-color: white;
			}

			&::-webkit-scrollbar {
				border: none;
				width: 6px;
				background-color: white;
			}

			&::-webkit-scrollbar-thumb {
				border-radius: 10px;
				background-color: #e7e7e7;
			}
		}
	}

	.box-question {
		margin-bottom: 30px;
		.ant-checkbox-wrapper {
			.ant-checkbox {
				margin-right: 5px;
			}
		}

		.box-question-title {
			.number-question {
				font-size: 16px;
				font-weight: bold;
				color: #1eac57;
				margin-bottom: 3px;
			}
			.des-question {
				font-weight: 500;
				font-style: italic;
			}
			.title-question {
				font-weight: 500;
				margin-top: 10px;
				display: flex;
				align-items: center;

				.anticon {
					margin-right: 10px;
				}
			}
		}
		.box-question-content {
			.question-item {
				display: block;
				margin-bottom: 10px;
			}
		}
	}

	.test-title-info {
		.name-type-test {
			font-size: 18px;
			margin-bottom: 5px;
		}
		.info-user {
			font-size: 12px;
			display: flex;
			align-items: center;
			color: $primary-color;
			margin-bottom: 0;

			span:last-child {
				font-weight: 500;
				// margin-left: 7px;
			}
		}
	}

	.test-card {
		position: relative;
		height: 100%;
	}

	.test-footer {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		border-top: 1px solid #f0f0f0;
		background: white;
		padding: 12px 15px;
		text-align: center;
		display: flex;
		z-index: 999;
		align-items: center;

		@include max-media(800px) {
			flex-wrap: wrap;
		}

		.footer-preview {
			width: 10%;
			@include max-media(800px) {
				width: 50%;
				order: 1;
			}
		}

		.footer-pagination {
			width: 100%;
			@include max-media(800px) {
				width: 100%;
			}
			.ant-pagination-item-link {
				.anticon {
					vertical-align: 0;
				}
			}
		}
		.row-pagination {
			display: flex;
			// justify-content: space-between;
			align-items: center;

			.box-preview {
				.ant-checkbox-wrapper:hover {
					.ant-checkbox-inner {
						border-color: #eda034;
					}
					.ant-checkbox-checked {
						&:after {
							border-color: #eda034;
						}
					}
				}
				.ant-checkbox-checked .ant-checkbox-inner {
					background-color: #eda034;
					border-color: #eda034;
				}
			}

			.close-icon {
				background: none;
				display: none;
				position: absolute;
				right: 5px;
				top: 5px;
				padding: 10px;
				border: none;

				&:focus {
					border: none;
					outline: none;
				}

				svg {
					opacity: 0.8;
				}

				@media screen and (max-width: 991px) {
					display: block;
				}
			}

			@media screen and (max-width: 991px) {
				display: none;
			}

			.pagi-name {
				display: none;
				@media screen and (max-width: 991px) {
					display: block;
					font-size: 18px;
					font-weight: 600;
					text-align: center;
					margin-bottom: 10px;
				}
			}

			&.active-mobile {
				display: flex !important;
				z-index: 9999;
			}

			@media screen and (max-width: 991px) {
				position: absolute;
				bottom: 110%;
				left: 0;
				background: white;
				width: 100%;
				box-shadow: 3px 2px 10px #00000042;
				padding: 20px;
				padding-bottom: 10px;
				border-radius: 5px;
				flex-direction: column;
			}

			.pagi-btn {
				width: 27px;
				height: 27px;
				border: none;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				transition: 0.1s;
				cursor: pointer;

				@media screen and (max-width: 991px) {
					display: none;
				}

				&:hover {
					box-shadow: 0px 2px 6px #00000026;
					background: #d4d4d4;
					transition: 0.1s;

					svg {
						opacity: 1;
						color: #464646;
					}
				}

				&.previous {
					margin-right: 10px;
				}

				svg {
					font-size: 12px;
					opacity: 0.5;
				}
			}
		}
		.list-answer {
			margin-bottom: 0;
			padding-left: 0;

			li.item {
				position: relative;
				display: inline-block;
				margin-right: 10px;
				// margin-bottom: 7px;
				list-style-type: none;
				cursor: pointer;

				@media screen and (max-width: 991px) {
					margin-top: 10px;
				}

				&:hover {
					a {
						background: $primary-color !important;
						border: 1px solid $primary-color !important;
						transition: 0.1s;
						color: white !important;
					}
					a.checked {
						background: $primary-color !important;
						border: 1px solid $primary-color !important;
						transition: 0.1s;
						color: white !important;
					}
				}

				a {
					width: 25px;
					height: 25px;
					display: flex;
					justify-content: center;
					align-items: center;
					background: white;
					color: #000000cf;
					border-radius: 3px;
					font-size: 13px;
					border: 1px solid #0c0c0c40;
					font-weight: 400;
					transition: 0.1s;

					&:hover {
						text-decoration: none;
					}

					&.checked {
						background: #404040 !important;
						transition: 0.1s;
						color: white !important;
						border: 1px solid #404040 !important;
						border-radius: 50%;
						transition: 0.3s;

						// background: #008642 !important;
						// border: 1px solid #008642 !important;
						// transition: 0.1s;
						// color: white !important;
					}

					&.checked_preview {
						background: #eda034 !important;
						transition: 0.1s;
						color: white !important;
						border: 1px solid #eda034 !important;
						border-radius: 50%;
						transition: 0.3s;
					}

					&.activeDoing {
						background: $primary-color;
						border: 1px solid $primary-color;
						transition: 0.1s;
						color: white;
					}
				}

				&.activeDoing {
					a {
						background: $primary-color;
						border: 1px solid $primary-color;
						transition: 0.1s;
						color: white;
					}
				}
				&.activeDoingFirst {
					a {
						background: $primary-color !important;
						border: 1px solid $primary-color !important;
						transition: 0.1s;
						color: white !important;
					}
				}
			}
		}

		.footer-submit {
			width: 10%;
			@include max-media(800px) {
				width: 50%;
				order: 2;
				margin-top: 12px;
			}
		}
	}

	.sound-edit {
		width: 100px;

		.ant-slider-track,
		.ant-slider-rail {
			top: 2px;
			height: 8px;
		}
	}
}

.countdown {
	span {
		font-size: 22px;
		font-weight: 600;
		color: #313131;
	}
	.minutes:after {
		content: ':';
		margin: 0 5px;
	}
	.hours:after {
		content: ':';
		margin-right: 5px;
	}
}

.btn-record {
	border: none;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	// display: flex;
	// justify-content: center;
	// align-items: center;

	svg {
		width: 17px;
		color: white;
	}

	&.start {
		background: $primary-color;
	}

	&.pause {
		background: $primary-color;
	}

	&.save {
		background: #eea135;
	}
}

// .ant-tooltip {
//   z-index: 9999;
// }

.space-editor {
	position: relative;
	width: 150px;
	display: inline-block;
	margin: 5px 5px;
	padding: 3px 5px;
	border: 1px solid #b7b7b7;
	background: white;
	border-radius: 0.375rem;
	text-align: center;
	font-size: 14px;

	&.center-row {
		vertical-align: -13px;
		padding: 12px 5px;
	}

	.tooltip-answer {
		position: absolute;
		top: 0;
		color: white;
		padding: 5px 10px;
		border-radius: 0.375rem;
		z-index: 9999;
		background: #22bf7e;
		top: -135%;
		left: 0;
		width: 100%;
		display: none;
	}

	&:focus {
		outline: 2px solid #8c8c8c40;
	}

	&.active-type-input {
		background: #fffaf3 !important;
	}
	&.right-answer {
		border: 1px solid green;
	}
	&.wrong-answer {
		border: 1px solid red;
	}
}

.position-space {
	margin-left: 5px;
	font-weight: 500;
	font-size: 14px;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
		sans-serif;

	&.active {
		color: $primary-color;
	}
}

.drag-list {
	.space-editor {
		color: transparent;
	}
}

.modal-submit-success-test {
	text-align: center;
	.anticon {
		svg {
			color: #57b887;
			font-size: 35px;
		}
	}
	.text {
		margin-top: 15px;
		margin-bottom: 0;
		font-size: 16px;
		font-weight: 500;
	}
}
