.success-reset {
	text-align: center;
	svg {
		font-size: 35px;
		color: #0fc15e;
	}
	.success-text {
		font-size: 17px;
		color: #0fc15e;
		font-weight: 500;
		margin-top: 10px;
	}
	.move-text {
		font-style: italic;
	}
}
.wrap-reset-form {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	.success-reset {
		text-align: center;
		svg {
			font-size: 35px;
			color: #0fc15e;
		}
		.success-text {
			font-size: 17px;
			color: #0fc15e;
			font-weight: 500;
			margin-top: 10px;
		}
		.move-text {
			font-style: italic;
		}
	}

	.reset-form {
		width: 500px;
		max-width: 95%;
		padding: 30px 60px;
		background: white;
		border-radius: 0.575rem;

		.des {
			font-style: italic;
			font-weight: 500;
			width: 80%;
			margin: auto;
		}
	}
}
