.schedule-study-list {
	.ant-list-item {
		padding-top: 16px;
		padding-bottom: 0;
	}
	.ant-list-item-meta {
		margin-bottom: 0;
	}
}
.schedule-study-list-child {
	.ant-col {
		height: 100%;
	}
}
.schedule-study-list-child-item {
	height: calc(100% - 16px);
	.content-body {
		color: #000;
		> p {
			margin-bottom: 5px;
			> span {
				font-weight: 500;
			}
		}
	}
	.ant-card {
		height: 100%;
	}
}
