.success__checkout {
	height: 100vh;
	width: 100%;
	padding: 150px;
	background-color: $primary-color;

	&-content {
		height: 100%;
		padding: 50px;
		border-radius: 40px;

		background-color: #fff;
	}
	&-logo {
		img {
			height: 200px;
			width: 200px;
			display: block;
			margin-bottom: 50px;
		}
	}
	&-text {
		h3 {
			margin-bottom: 50px;
			text-transform: capitalize;
		}
	}
}
@include max-media(1024px) {
	.success__checkout {
		height: 100vh;
		width: 100%;
		padding: 80px;
	}
}
@include max-media(500px) {
	.success__checkout {
		height: 100vh;
		width: 100%;
		padding: 10px;
	}
}
