.video-course-list {
	width: 100%;
	background: #fff;

	.ant-checkbox-wrapper {
		padding: 0px !important;
		margin: 0px !important;
		width: 0px !important;
		height: 0px !important;
		display: none;
	}
	@include max-media(1500px) {
		width: 85%;
	}
	@include max-media(1200px) {
		width: 95%;
	}
	@include max-media(1000px) {
		width: 100%;
	}

	&__item {
		background: #fff;
		height: 250px;
		margin: 10px;
		border-radius: 6px;
		border-style: solid;
		border-width: 1px;
		border-color: #e4e4e4;
		@include max-media(1321px) {
			height: 300px;
		}
		@include max-media(1001px) {
			height: 250px;
		}
		@include max-media(575px) {
			height: 300px;
		}

		&_warp-image {
			width: 100%;
			height: 52%;
			padding: 10px;
			padding-bottom: 5px;

			@include max-media(575px) {
				height: 60%;
			}
		}

		img {
			width: 100%;
			height: 100%;
			border-top-left-radius: 7px;
			border-top-right-radius: 7px;
			object-fit: cover;
		}

		&__content {
			height: 50%;
			width: 100%;
			border-bottom-left-radius: 6px;
			border-bottom-right-radius: 6px;
			display: flex;
			flex-direction: column;

			.title {
				font-size: 15px;
				font-weight: bold;
			}
			.content {
				font-size: 14px;
				text-decoration: none;
			}
			.content:hover {
				color: #000;
			}
			.rate-container {
				//
				justify-content: space-between;
				align-items: center;

				a {
					text-decoration: none;
				}
			}
		}
	}
	&__item:hover {
		border-color: #f53882;
	}

	.text-process {
		font-size: 14px;
	}

	.rate-start {
		font-size: 16px;
		@include max-media(1802px) {
			font-size: 14px;
			margin-bottom: 10px;
		}
	}

	.in-2-line {
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.btn-rate {
		background: #db4566;
		padding: 3px 10px 3px 10px;
		border-radius: 6px;
		color: #fff;
	}

	.btn-rate:hover {
		background: #c94764;
	}
}

.video-course-list-title {
	font-size: 16px;
	margin-top: -17px;
	color: black;
}

.m-e-vc {
	height: 80vh !important;
	.note-editor.note-frame {
		border-radius: 6px;
	}
}

.customPopconfirm {
	.ant-popover-inner {
		background: #000 !important;
	}
	.ant-btn-sm {
		padding-bottom: 10px !important;
	}
}

.wrap-create-exercise {
	.ant-picker-range {
		width: 100% !important;
		height: 34px !important;
		border-radius: 6px !important;
	}
	.ant-input {
		width: 100% !important;
		height: 34px !important;
		border-radius: 6px !important;
	}
}
