.card-file-box {
	border-radius: 3px;
	margin-bottom: 30px;
	background-color: #fff;
	.cols {
		margin-top: -15px;
		margin-bottom: -15px;
	}
	div[class^='col-'] {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.empty-document {
		font-size: 16px;
		font-weight: 500;
		color: $red;
		font-style: italic;
	}
}

.file-man-box {
	border: 1px solid #e3eaef;
	border-radius: 5px;
	position: relative;
	height: 100%;
	> a {
		display: block;
		padding: 20px;
		text-decoration: none;
	}
	.file-close {
		color: #f1556c;
		position: absolute;
		line-height: 24px;
		font-size: 24px;
		right: 10px;
		top: 10px;
		visibility: hidden;
	}
	.file-img-box {
		line-height: 120px;
		text-align: center;
		img {
			height: 64px;
		}
	}
	.file-download {
		font-size: 20px;
		color: #98a6ad;
		position: absolute;
		top: 10px;
		right: 15px;
		transition: 0.3s;
		margin-bottom: 0;
		&:hover {
			color: #313a46;
		}
	}
	&:hover {
		-webkit-box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06),
			0 1px 0 0 rgba(0, 0, 0, 0.02);
		box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
		.file-close {
			visibility: visible;
		}
	}
	.text-overflow {
		text-overflow: ellipsis;
		white-space: nowrap;
		display: block;
		width: 100%;
		overflow: hidden;
	}
}
