.ck-editor__editable_inline {
	min-height: 180px !important;
}

.summernote-style {
	// .note-editable {
	//   height: 200px !important;
	// }
	.note-btn {
		padding: 0.25rem 0.5rem !important;
		font-size: 1rem !important;
		line-height: 1.5;
	}
	.note-editor.note-frame.fullscreen {
		background-color: $white;
	}
	// .btn i {
	//   font-size: 1rem;
	// }
}
.ant-form-item-has-error .note-editor.note-frame {
	border-color: #ff4d4f;
}
.note-modal {
	h4.modal-title {
		display: none;
	}
}

.wrap-editor {
	span.text-normal {
		position: relative;
		margin: 3px 0;
		display: inline-block;

		span.text-note {
			position: absolute;
			font-size: 11px;
			font-style: italic;
			left: 50%;
			transform: translateX(-50%);
			top: -48%;
			color: #606060;
		}
	}

	.input-prevent {
		width: 1px;
		border: none;
		background: transparent;
		box-shadow: none;

		&:focus {
			border: none;
			background: transparent;
			box-shadow: none;
			outline: 0;
		}
	}
}
.btn-editor {
	&.fix-translate {
		right: 12%;
	}
}

.detail-translate {
	table {
		width: 100%;
		border-collapse: collapse;
		th,
		td {
			border: 1px solid #ddd;
			padding: 8px;
		}

		input.show-text-translate {
			border: 1px solid #dddddd;
			border-radius: 0.375rem;
			width: 90%;
			margin: auto;
			padding: 5px;
		}
	}
}
