.ck-editor__editable_inline {
  min-height: 180px !important;
}

.summernote-style {
  // .note-editable {
  //   height: 200px !important;
  // }
  .note-btn {
    padding: 0.25rem 0.5rem !important;
    font-size: 1rem !important;
    line-height: 1.5;
  }
  .note-editor.note-frame.fullscreen {
    background-color: $white;
  }
  // .btn i {
  //   font-size: 1rem;
  // }
}
.ant-form-item-has-error .note-editor.note-frame {
  border-color: #ff4d4f;
}
.note-modal {
  h4.modal-title {
    display: none;
  }
}
