.app-header {
  position: fixed;
  width: calc(100% - 80px);
  height: 65px;
  top: 0;
  right: 0;
  background: white;
  // background: #08c;
  // background: linear-gradient(45deg, #08c, #26c6da) !important;
  box-shadow: 0px 0px 40px 0px rgb(82 63 105 / 10%);
  border-right: 1px solid #ececec;
  transition: 0.3s width;
  display: flex;
  align-items: center;
  z-index: 100;

  @include max-media(1000px) {
    width: 100%;

    &.mobile {
      width: calc(100% - 330px);
    }
  }

  &.close {
    width: calc(100% - 80px);

    .app-header-logo {
      width: 80px;
      justify-content: center;
      padding: 0;

      // border-right: 1px solid #ffffff33;
      p {
        display: none;
      }
    }
  }

  .col-title-page {
    @include max-media(1000px) {
      display: none;
    }
  }

  .app-header-logo {
    width: 250px;
    height: 100%;
    padding: 5px 25px;
    padding-right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s width;
    box-shadow: 2px 1px 15px #0000000d;

    @include max-media(1000px) {
      display: none;
    }

    // &.open-no-ani {
    //   p {
    //     opacity: 1;
    //   }
    // }

    &.open {
      p:first-child,
      a {
        opacity: 0;
        white-space: nowrap;
        animation: showText 0.2s forwards;
        animation-delay: 0.2s;
      }

      @keyframes showText {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }

    &.close {
      width: 0;
      box-shadow: none;

      p:last-child {
        animation: hideText 0.2s forwards;
        animation-delay: 0.2s;
      }
      @keyframes hideText {
        from {
          opacity: 1;
        }
        to {
          opacity: 0;
        }
      }
    }

    p,
    a {
      margin: 0;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 20px;
      color: #0088cc;
    }
  }

  .app-header-inner {
    width: calc(100% - 250px);
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
    transition: 0.3s width;

    @include max-media(1000px) {
      width: 100%;
      padding: 0 15px;
    }

    &.close {
      width: calc(100% - 80px);
    }

    .right {
      display: flex;
      align-items: center;
    }

    .col-search {
      .box-input {
        display: flex;
        align-items: center;
        height: 41px;

        .icon-search {
          height: 100%;
          background: #f9f9f9;
          width: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-top-left-radius: 0.375rem;
          border-bottom-left-radius: 0.375rem;
          cursor: pointer;

          svg {
            font-size: 18px;
            opacity: 0.3;
          }
        }

        input {
          border: none;
          padding: 10px 20px;
          padding-left: 5px;
          background: #f9f9f9;
          border-radius: 0.375rem;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          width: 18rem;
          color: #464646;

          &:focus {
            border: none;
            outline: none;
            box-shadow: none;
          }

          &::-webkit-input-placeholder {
            /* Edge */
            opacity: 0.5;
            font-weight: 500;
          }

          &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            opacity: 0.5;
            font-weight: 500;
          }

          &::placeholder {
            opacity: 0.5;
            font-weight: 500;
          }
        }
      }
    }

    .col-button {
      width: 50px;
      margin-left: -20px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 20px;
      @include max-media(1000px) {
        display: none;
      }

      &.mobile {
        display: none;
        @include max-media(1000px) {
          display: block;
          margin-left: -15px;
          margin-right: 0;
        }
      }

      .box-menu {
        width: 100%;
        height: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          .icon-action {
            background: rgb(245, 245, 245);
            transition: 0.3s;
            i,
            svg {
              color: #0088cc;
              transition: 0.3s;
            }
          }
        }

        .icon-action {
          line-height: 0;
          cursor: pointer;
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 7px;
          background: white;
          transition: 0.3s;

          i,
          svg {
            color: #0088cc;
            font-size: 20px;
            transition: 0.3s;
          }
        }
      }
    }

    .col-setting {
      display: flex;
      align-items: center;

      .col-setting-list {
        display: flex;
        margin-bottom: 0;
        margin-top: 0;
        height: 100%;
        padding-left: 0;

        li {
          display: flex;
          align-items: center;
          list-style-type: none;
          padding: 0 15px;
          cursor: pointer;
          height: 100%;

          @include max-media(1000px) {
            padding: 0 5px;
          }

          &:last-child {
            margin-right: 0;
            border-left: 1px solid #ebeef6;
            margin-left: 23px;
            margin-right: -25px;
            padding: 0;
          }

          &.search {
            position: relative;

            // &:hover {
            //   .input-search {
            //     display: block;
            //     transition: 0.3s;
            //   }
            // }

            .search-icon {
              width: 36px;
              height: 36px;
              background: #edf1f8;
              border-radius: 0.375rem;
              display: flex;
              justify-content: center;
              align-items: center;

              svg {
                font-size: 18px;
                color: #989898;
              }
            }
          }

          .custom {
            line-height: 0;
            padding: 23px 20px;
            svg {
              font-size: 20px;
              color: dimgrey;
              transition: 0.3s;
            }
            &:hover {
              svg {
                color: $primary-color;
                transition: 0.3s;
              }
            }
          }
        }

        .notification {
          position: relative;

          .notification-number {
            position: absolute;
            top: 12px;
            right: 5px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #0088cc;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 11px;
            font-weight: bold;
            box-shadow: 0px 1px 10px #0088cc52;
          }

          .notification-icon i {
            font-size: 22px;
            color: #4a4a4a;
          }
        }

        .custom-wrap {
          @include max-media(1000px) {
            display: none;
          }
        }

        .user {
          cursor: pointer;
          padding-right: 0;

          .user-wrap {
            display: flex;
            align-items: center;
            padding: 0px 0;
            @include max-media(1000px) {
              padding: 0;
            }
          }

          .user-img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 10px;

            img {
              width: 100%;
              height: 100%;
              border-radius: 50%;
            }
          }

          .user-info {
            p {
              margin-bottom: 0;
            }
            .user-name {
              color: #464646;
              font-size: 13px;
              font-weight: 600;
              @include max-media(1000px) {
                display: none;
              }
            }
            .user-name-mobile {
              display: none;
              @include max-media(1000px) {
                display: block;
                width: 36px;
                height: 36px;
                background: #edf1f8;
                border-radius: 0.375rem;
                display: flex;
                justify-content: center;
                align-items: center;

                svg {
                  width: 21px;
                  color: #989898;
                }
              }
            }
            .user-position {
              font-size: 12px;
              font-weight: 400;
              color: #a5a5a5;
            }
          }
        }
      }
    }
  }
}
.user-function {
  list-style-type: none;
  padding-left: 0;
  width: 10rem;
  margin-bottom: 0;

  li {
    a {
      color: #767582;
      font-size: 14px;
      display: block;
      padding: 10px 15px;
      margin: 0 -16px;

      &:hover {
        background: #0088cc0d;
      }

      .icon {
        margin-right: 15px;
        display: inline-block;
        vertical-align: middle;
        line-height: 0;

        &.inbox {
          svg {
            color: #10ca93;
          }
        }

        &.logout {
          svg {
            color: #f25767;
          }
        }

        svg {
          font-size: 16px;
          color: #0088cc;
        }
      }
      .function-name {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}

.ant-popover-arrow {
  display: none !important;
}
.ant-popover-inner {
  border-radius: 10px !important;
}

.input-search {
  position: relative;
  width: 200px;

  .ant-input {
    border: 1px solid #0000000d;
  }

  .anticon-search {
    display: none;
    position: absolute;
    top: 0px;
    right: 5px;
    width: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      opacity: 0.3;
    }
  }
}
