.create-newsfeed {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 5px 10px 15px rgba($color: #000000, $alpha: 0.1);
  padding: 15px 15px 7.5px;
  @include max-media(768px) {
    padding: 10px 10px 5px;
  }
  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @include max-media(500px) {
      width: 40px;
      height: 40px;
    }
  }
  .box-newsfeed {
    width: calc(99% - 50px);
    display: inline-block;
    padding-left: 10px;
    .btn-thinking {
      border: 0;
      width: 100%;
      font-size: 15px;
      border-radius: 20px;
      padding: 7px 20px;
      text-align: left;
      background-color: #f0f2f5;
      &:hover {
        background-color: #e5e5e5;
      }
    }
    @include max-media(500px) {
      width: calc(99% - 40px);
    }
  }
  .top-nf {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
  }
  .bottom-nf {
    padding-top: 7.5px;
    display: flex;
    justify-content: center;
    .item-func {
      flex-basis: 33.33%;
      padding: 7px;
      @include max-media(768px) {
        padding: 5px;
      }
      @include max-media(500px) {
        padding: 0;
      }
    }
    .btn {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      svg {
        width: 20px;
        @include max-media(500px) {
          width: 15px;
        }
      }
      span {
        margin-left: 3px;
        @include max-media(500px) {
          font-size: 12px;
        }
      }
      &:hover,
      &:focus {
        background-color: #e4e6ec !important;
      }
      &.disable {
        pointer-events: none;
        background-color: #e4e6ec !important;
      }
      @include max-media(768px) {
        padding: 3px 5px;
      }
      @include max-media(500px) {
        background-color: transparent;
        border-color: transparent;
      }
    }
    @include max-media(768px) {
      padding-top: 5px;
    }
  }
}
.modal-create-nf {
  .ant-modal-body {
    padding: 12px;
  }
  .text-area-nf {
    padding: 0;
    border: 0;
    font-size: 20px;
    &:focus {
      border-color: unset;
      border: unset;
      box-shadow: unset;
    }
  }
  .option-for-nf {
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba($color: #000000, $alpha: 0.1);
    border: 1px solid rgba($color: #000000, $alpha: 0.1);
    margin-bottom: 16px;
    padding: 10px;
    .option-for-nf--header {
      display: flex;
      align-items: center;
    }
    .option-for-nf--body {
      padding-top: 10px;
      .choose-branch {
        .ant-form-item {
          margin-bottom: 0;
        }
      }
    }
    .text {
      font-weight: 500;
      font-size: 16px;
      width: 50%;
      display: inline-block;
      p {
        margin-bottom: 0;
      }
    }
    .list-option {
      width: 50%;
      display: inline-flex;
      align-items: center;
      justify-content: flex-end;
      .item-option {
        margin-left: 5px;
      }
      .btn {
        padding: 5px;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          width: 22px;
          height: 22px;
        }
        &.active {
          background-color: #e4e6ec;
        }
        &:hover,
        &:focus {
          background-color: #e4e6ec;
          box-shadow: unset;
        }
      }
    }
  }
}
.wrap-newsfeed {
  @include max-media(767px) {
    display: flex;
    flex-direction: column-reverse;
  }
}
.info-current-user {
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
    @include max-media(500px) {
      width: 30px;
      height: 30px;
    }
  }
  .name-user {
    width: calc(99% - 40px);
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;
    @include max-media(500px) {
      width: calc(99% - 30px);
    }
    .name {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 0;
      @include line-clamp(1);
      .share-point {
        margin: 0 5px;
        display: inline-block;
        color: rgba($color: #000000, $alpha: 0.5);
        svg {
          width: 15px;
        }
      }
      ul {
        list-style: none;
        display: inline-block;
        padding: 0;
        margin: 0;
        li {
          display: inline-block;
          cursor: pointer;
          &:hover {
            color: #000000;
            text-decoration: underline;
          }
        }
      }
      a {
        &:hover {
          color: #000000;
          text-decoration: underline;
        }
      }
      .item-branch {
        &::after {
          content: ",";
          margin-right: 5px;
        }
        &:last-child {
          &::after {
            content: unset;
          }
        }
      }
      @include max-media(500px) {
        font-size: 14px;
      }
    }
    .newsfeed-time {
      font-size: 12px;
      margin-top: -4px;
      display: block;
      @include max-media(500px) {
        font-size: 10px;
      }
    }
  }
}
.wrap-select {
}
.wrap-select.mini {
  width: 300px;
  right: 7px;
  -webkit-transform: inherit;
  -moz-transform: inherit;
  transform: inherit;
  left: inherit;
  top: 115%;
}
.list-nf {
  margin-top: 15px;
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  .item-nf {
    margin-bottom: 15px;
  }
  &.skeleton {
    .ant-skeleton-title {
      margin-top: 5px;
    }
    .ant-skeleton-paragraph {
      margin-top: 16px;
    }
    .newsfeed {
      padding: 10px;
    }
  }
}
.newsfeed {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 5px 10px 15px rgba($color: #000000, $alpha: 0.1);
  padding: 15px 15px 7.5px;
  margin-bottom: 15px;
  @include max-media(768px) {
    padding: 10px 10px 5px;
  }
  &-action {
    padding-top: 7.5px;
    border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    @include max-media(768px) {
      padding-top: 5px;
    }
    // margin: 0 -5px;
    .action {
      width: 50%;
      // padding: 0 5px;
    }
    .btn {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border: 0;
      padding: 5px;
      &.active {
        svg {
          color: #0571e5;
        }
        span {
          color: #0571e5;
        }
      }
      svg {
        width: 20px;
      }
      span {
        margin-left: 3px;
      }
      &:hover {
        background-color: #e4e6ec !important;
      }
      &:focus {
        background-color: transparent;
        border: 0;
        box-shadow: unset;
      }
      @include max-media(500px) {
        padding: 3px;
      }
    }
  }
  &-content {
    padding-top: 10px;
    border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
    pre {
      font: inherit;
    }
  }
  .info-current-user {
    padding-bottom: 10px;
  }
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .info-current-user {
      width: calc(100% - 40px);
    }
    .newsfeed-more {
      width: 40px;
      .btn-more {
        background-color: transparent;
        border-radius: 50%;
        border: 0;
        width: 40px;
        height: 40px;
        transition: 0.2s;
        &:hover,
        &:focus {
          background-color: #efefef;
        }
      }
    }
  }
  .list-comments {
    list-style: none;
    padding: 0;
    margin: 0;
    .info-current-user {
      padding-bottom: 0;
    }
    .item-comment {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
      .time-comment {
        font-size: 12px;
      }
    }
  }
  &-comments {
    padding-top: 10px;
    .info-current-user {
      .input-comments {
        width: calc(100% - 40px);
        display: inline-block;
        padding-left: 10px;
        vertical-align: middle;
        .style-input {
          background-color: #f0f2f5;
          color: #000000;
          border-radius: 20px !important;
          border-color: transparent;
          &:hover {
            background-color: #e5e5e5;
            border-color: transparent;
          }
          &:focus {
            border-color: transparent;
            box-shadow: unset;
            background-color: #e5e5e5;
          }
        }
      }
      .content-comment {
        width: calc(100% - 40px);
        display: inline-block;
        padding-left: 10px;
        vertical-align: top;
        &.reply {
          .time-comment {
            margin-left: 15px;
          }
        }
        .user-comment {
          margin-top: 10px;
        }
        .box-comment {
          border-radius: 15px;
          background-color: #efefef;
          padding: 5px 13px;
          margin-bottom: 3px;
        }
        .a-reply {
          margin-left: 13px;
          &:hover {
            color: #0d6efd;
            text-decoration: underline;
          }
        }
        > .list-comments {
          margin-top: 10px;
        }
      }
    }
  }
  &-total {
    display: flex;
    justify-content: space-between;
    p {
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      svg {
        width: 20px;
        height: 20px;
        margin-right: 3px;
      }
    }
  }
}
.more-list {
  list-style: none;
  padding: 0;
  margin: 0;
  .btn {
    display: block;
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    text-align: left;
    &:hover {
      background-color: #efefef;
    }
  }
}
.card-newsfeed {
  margin-bottom: 15px;
  &:last-child {
    margin-bottom: 0;
    height: calc(100vh - 230px);
    overflow: auto;
    @include max-media(767px) {
      margin-bottom: 15px;
      height: unset;
    }
    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: white;
    }

    &::-webkit-scrollbar {
      border: none;
      width: 4px;
      background-color: #f5f5f5;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #dd4667b2;
    }
  }
  .ant-card-head {
    min-height: unset;
    padding: 0 10px;
    .ant-card-head-title {
      padding: 10px 0;
    }
  }
  .ant-card-body {
    padding: 12px 10px;
  }
  .card-newsfeed__label {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
    margin-bottom: 7px;
    @include max-media(767px) {
      margin-bottom: 15px;
    }
  }
  .list-group-nf {
    list-style: none;
    padding: 0;
    margin: 0 0 15px;
    li {
      padding: 7px 5px;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background-color: #e4e6ec;
      }
      &.active {
        background-color: #e4e6ec;
      }
    }
    @include max-media(767px) {
      display: none;
    }
  }
  .add-group {
    padding: 7px 5px;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background-color: #e4e6ec;
    }
    &.active {
      background-color: #e4e6ec;
    }
    @include max-media(767px) {
      margin-top: 5px;
      background-color: #e4e6ec;
    }
  }
  .list-group-nf__moblie {
    display: none;
    margin: 0 0 15px;
    @include max-media(767px) {
      display: block;
    }
  }
}
.card-group-nf {
  margin-bottom: 15px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 5px 10px 15px rgb(0 0 0 / 10%);
  &__header {
    padding: 0 15px;
    min-height: 120px;
    display: flex;
    align-items: flex-end;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @include max-media(500px) {
      min-height: 100px;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.5);
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    .name-group {
      font-size: 25px;
      color: #fff;
      @include max-media(500px) {
        font-size: 20px;
      }
    }
    .name-admin {
      color: #fff;
    }
    .infomation-group {
      padding-bottom: 15px;
      position: relative;
      z-index: 1;
      p {
        margin-bottom: 0;
      }
    }
    .more-group {
      position: absolute;
      top: 5px;
      right: 5px;
      z-index: 1;
      width: 40px;
      .btn-more {
        background-color: transparent;
        border-radius: 50%;
        border: 0;
        width: 40px;
        height: 40px;
        color: #fff;
        transition: 0.2s;
        &:hover,
        &:focus {
          background-color: rgba($color: #000000, $alpha: 0.7);
        }
      }
    }
  }
  &__body {
    padding: 15px;
    p {
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    ul {
      padding: 0;
      margin: 0;
    }
    @include max-media(500px) {
      padding: 10px;
    }
  }
  &.skeleton {
    padding: 15px;
    @include max-media(768px) {
      padding: 10px;
    }
  }
}
.add-group {
  display: flex;
  align-items: center;
  color: #0571e5;
  svg {
    width: 20px;
    height: 20px;
  }
  span {
    padding-left: 3px;
  }
}
.group {
  p,
  .members {
    display: inline-block;
    vertical-align: middle;
  }
}
.members {
  height: 40px;
  margin-left: 5px;
  @include max-media(500px) {
    height: 30px;
  }
}
.members img {
  height: 40px;
  width: 40px;
  float: right;
  margin: 0 -8px 0 0;
  border-radius: 50%;
  color: #fff;
  border: 2px solid #efefef;
  @include max-media(500px) {
    height: 30px;
    width: 30px;
  }
}
.members span {
  line-height: 42px;
  height: 40px;
  width: 40px;
  float: right;
  margin: 0 -8px 0 0;
  background: rgba($color: #000000, $alpha: 0.5);
  border-radius: 50%;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    width: 22px;
    height: 22px;
    @include max-media(500px) {
      height: 18px;
      width: 18px;
    }
  }
  @include max-media(500px) {
    height: 30px;
    width: 30px;
  }
}
.wrap-create-nf {
  @include max-media(500px) {
    padding: 0;
  }
}
