$blue: #1986da;
$black: black;
$light-blue: #f2f8fc;
$normal-blue: #4cbbb9;
$orange: #ff7c38;
$white: white;
$red: #e21b1b;

$border-primary: 1px solid #eaeaea;
$primary-color: #08c;
$color-success: #0da779;

$primary-text: #2d2d2d;

$fs-12: 1.2vw;

//text-invoice
$text-mute: #bfbfcb;
$text-primary: #3f4254;
$text-report: #162b5b;
