@import "variables";
@import "mixins";
@import "./fontawesome/css/all.css";
@import "./fonts/Noir/font.css";

html,
body {
  background-color: #f7f7f7 !important;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  //  font-family: 'Noir';
  font-size: 14px !important;
  color: #636363 !important;
}

.ant-card {
  color: #414141;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// ======= HEADER ====== //
@import "./components/header";

// ======= MENU ====== //
@import "./components/menu";

// ======= MAIN ====== //
@import "./components/main";

// -------------------------- PAGES ------------------------------//
@import "./pages/dashboard";

@import "./pages/course-map-detail";

@import "./pages/create-course";

@import "./pages/course-list";

@import "./pages/course-buy";

@import "./pages/profile";

@import "./pages/feedback-list";

@import "./pages/package-list";

@import "./pages/package-create";

@import "./pages/package-set";

@import "./pages/doing-test";

@import "./pages/layoutTags";

@import "./pages/question-bank";

@import "./pages/quiz";

// -------------------------- ELEMENTS ------------------------------//
@import "./components/elements";
@import "./components/expandbox";
@import "./components/color-base";
// -------------------------- CALENDAR ------------------------------//
@import "./components/calendar";

// -------------------------- ANIMATIONS ------------------------------//
@import "./components/animations";
